*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#sub-category {
    display: none;
    position: absolute;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
}

.hidden {
    display: none;
}
